@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer {
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0) 80%
  );

  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(400%);
  }
}
